*{
    margin:0%;
    padding:0%;
}
html , body{
     height: 100%;
     width: 100%;
     box-sizing: border-box;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gold;
}
.firsttwo{
    display: flex;
    transform: rotate(45);
} 
.lasttwo{
    display: flex;
}
.square12 , .square34{
    display: flex;
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
     transform: rotate(45deg);
}
#square1:hover ,#square2:hover, #square3:hover, #square4:hover{
            background-color: burlywood;
}
#square1{
    background-color: brown;
    margin-right: 30px; margin-bottom: 30px;
}
#square2{
    background-color: blue;
     margin-left: 30px; margin-bottom: 30px;
}
#square3{
    background-color: chartreuse;
      margin-right: 30px; margin-top: 30px;
}
#square4{
    background-color: rgb(255, 125, 3);
      margin-left: 30px; margin-top: 30px;
}
h1{
    transform: rotate(-45deg);
}
#topheading{
    padding: 10px;
    background-color: rgb(251, 6, 6);
    text-align: center;   
    border-width: 10px;
    border-style:solid;
    border-color: rgb(164, 2, 251);
}
